https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-groupby.html

In [1]:


import findspark
findspark.init()
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

sc

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

In [3]:
df = spark.sql('''select 'spark' as hello ''')  
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

In [5]:

%%html
<style>
div.output_area pre {
    white-space: pre;}
</style>

In [4]:
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('rows.csv@accessType=DOWNLOAD',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))

####################      only filtering till 2018       #######################

print(rc.show(5))       #######3 to show in  a nice format we use show

+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|2015-09-05 13:30:00|     043XX S WOOD ST|0486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
|10224739|   HY411615|2015-09-04 11:30:00| 008XX N CENTRAL AVE|0870|       THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|2018-09-01 00:01:00|082XX S INGLESIDE...|0810|       THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|
|10224740|   HY411595|2015-09-05 12:45:00|   035XX W BARRY AVE|2023|   NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|
|10224741|   HY411610|2015-09-05 13:00:00| 0000X N LARAMIE AVE|0560|     ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

None

The sql function on a SparkSession enables applications to run SQL queries programmatically and returns the result as a DataFrame.

In [9]:
## RC= REGISTERED CRIMES
# Register the DataFrame as a SQL temporary view
rc.createOrReplaceTempView("regcrim")

sqlDF = spark.sql("SELECT * FROM regcrim")
sqlDF.show()

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|2015-09-05 13:30:00|     043XX S WOOD ST|0486|           BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
|10224739|   HY411615|2015-09-04 11:30:00| 008XX N CENTRAL AVE|0870|             THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|2018-09-01 00:01:00|082XX S INGLESIDE...|0810|             THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|
|10224740|   HY411595|2015-09-05 12:45:00|   035XX W BARRY AVE|2023|         NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|
|10224741|   HY411610|2015-09-05 13:00:00| 0000X N LARAMIE AVE|0560|           ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|
|10224742|   HY411435|2015-09-05 10:55:00| 082XX S LOOMIS BLVD|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE| false|   false|0614|     006|  21|            71|      05|     1168430|     1850165|2015|02/10/2018 03:50:...|41.744378879|-87.658430635|(41.744378879, -8...|
|10224743|   HY411629|2015-09-04 18:00:00|021XX W CHURCHILL ST|0620|          BURGLARY|      UNLAWFUL ENTRY|    RESIDENCE-GARAGE| false|   false|1434|     014|  32|            24|      05|     1161628|     1912157|2015|02/10/2018 03:50:...|41.914635603|-87.681630909|(41.914635603, -8...|
|10224744|   HY411605|2015-09-05 13:00:00|   025XX W CERMAK RD|0860|             THEFT|        RETAIL THEFT|  GROCERY FOOD STORE|  true|   false|1034|     010|  25|            31|      06|     1159734|     1889313|2015|09/17/2015 11:37:...|41.851988885|-87.689219118|(41.851988885, -8...|
|10224745|   HY411654|2015-09-05 11:30:00|031XX W WASHINGTO...|0320|           ROBBERY|STRONGARM - NO WE...|              STREET| false|    true|1222|     012|  27|            27|      03|     1155536|     1900515|2015|02/10/2018 03:50:...| 41.88281374|-87.704325717|(41.88281374, -87...|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|        null|         null|                null|
|10224746|   HY411662|2015-09-05 14:00:00|  071XX S PULASKI RD|0820|             THEFT|      $500 AND UNDER|PARKING LOT/GARAG...| false|   false|0833|     008|  13|            65|      06|     1150938|     1857056|2015|02/10/2018 03:50:...|41.763647552|-87.722344693|(41.763647552, -8...|
|10224749|   HY411626|2015-09-05 11:00:00|052XX N MILWAUKEE...|0460|           BATTERY|              SIMPLE|  SMALL RETAIL STORE| false|   false|1623|     016|  45|            11|     08B|     1137969|     1934340|2015|02/10/2018 03:50:...|41.975968415|-87.768014257|(41.975968415, -8...|
|10224750|   HY411632|2015-09-05 03:00:00|    0000X W 103RD ST|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           APARTMENT| false|    true|0512|     005|  34|            49|      26|     1177871|     1836676|2015|02/10/2018 03:50:...|41.707154919|-87.624244993|(41.707154919, -8...|
|10224751|   HY411566|2015-09-05 12:50:00|     013XX E 47TH ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|0222|     002|   4|            39|     08B|     1185907|     1874105|2015|02/10/2018 03:50:...|41.809678314|-87.593638934|(41.809678314, -8...|
|10224752|   HY411601|2015-09-03 13:00:00| 020XX W SCHILLER ST|0810|             THEFT|           OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|
|10224753|   HY411489|2015-09-05 11:45:00|  080XX S JUSTINE ST|0497|           BATTERY|AGGRAVATED DOMEST...|           APARTMENT| false|   false|0612|     006|  21|            71|     04B|     1167400|     1851512|2015|02/10/2018 03:50:...|41.748097343|-87.662166183|(41.748097343, -8...|
|10224754|   HY411656|2015-09-05 13:30:00|007XX N LEAMINGTO...|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1531|     015|  28|            25|      14|     1141889|     1904448|2015|02/10/2018 03:50:...|41.893869916|-87.754341096|(41.893869916, -8...|
|10224756|   HY410094|2015-07-08 00:00:00|103XX S TORRENCE AVE|0620|          BURGLARY|      UNLAWFUL ENTRY|               OTHER| false|   false|0434|     004|  10|            51|      05|     1195508|     1836950|2015|02/10/2018 03:50:...|41.707490122|-87.559650325|(41.707490122, -8...|
|10224757|   HY411388|2015-09-05 09:55:00|  088XX S PAULINA ST|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE|  true|   false|2221|     022|  21|            71|      05|     1166554|     1846067|2015|02/10/2018 03:50:...|41.733173536|-87.665421067|(41.733173536, -8...|
|10224758|   HY411568|2015-09-05 12:35:00|    059XX W GRACE ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|1633|     016|  38|            15|     08B|     1136014|     1924656|2015|02/10/2018 03:50:...|41.949429769|-87.775435529|(41.949429769, -8...|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

Temporary views in Spark SQL are session-scoped and will disappear if the session that creates it terminates.

In [12]:
# Register the DataFrame as a global temporary view
rc.createGlobalTempView("regcrim")


sqlDF = spark.sql("SELECT * FROM regcrim")
sqlDF.show()

AnalysisException: Temporary view 'regcrim' already exists

In [13]:
sqlDF.show(5)

+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|2015-09-05 13:30:00|     043XX S WOOD ST|0486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
|10224739|   HY411615|2015-09-04 11:30:00| 008XX N CENTRAL AVE|0870|       THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|2018-09-01 00:01:00|082XX S INGLESIDE...|0810|       THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|
|10224740|   HY411595|2015-09-05 12:45:00|   035XX W BARRY AVE|2023|   NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|
|10224741|   HY411610|2015-09-05 13:00:00| 0000X N LARAMIE AVE|0560|     ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|
+--------+-----------+-------------------+--------------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

In [15]:
spark.sql("SELECT * FROM regcrim").show(1)

+--------+-----------+-------------------+---------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|          Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+---------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|2015-09-05 13:30:00|043XX S WOOD ST|0486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
+--------+-----------+-------------------+---------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 1 row

In [55]:
spark.sql("SELECT ID,`Case Number`,Description,Date FROM regcrim WHERE ID='10224738'").show()

########   names with space use  `  `   AND NOT ' '------------->  CAREFUL

+--------+-----------+--------------------+-------------------+
|      ID|Case Number|         Description|               Date|
+--------+-----------+--------------------+-------------------+
|10224738|   HY411648|DOMESTIC BATTERY ...|2015-09-05 13:30:00|
+--------+-----------+--------------------+-------------------+

In [21]:
spark.sql("SELECT * FROM regcrim WHERE ID='10224738'").show()

+--------+-----------+-------------------+---------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|          Block|IUCR|Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+---------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|2015-09-05 13:30:00|043XX S WOOD ST|0486|     BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
+--------+-----------+-------------------+---------------+----+------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+

In [47]:

spark.sql("SELECT * FROM regcrim ORDER BY ID").show()

+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|               Date|               Block|IUCR|        Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10000012|   HY189978|2015-03-18 21:30:00|018XX S CENTRAL P...|0486|             BATTERY|DOMESTIC BATTERY ...|           APARTMENT|  true|    true|1021|     010|  24|            29|     08B|     1152669|     1890624|2015|02/10/2018 03:50:...| 41.85572892|-87.715115078|(41.85572892, -87...|
|10000013|   HY189463|2013-11-27 12:00:00|  056XX S MENARD AVE|1130|  DECEPTIVE PRACTICE|FRAUD OR CONFIDEN...|           RESIDENCE| false|   false|0811|     008|  23|            56|      11|     1138668|     1866579|2013|02/10/2018 03:50:...| 41.79001075|-87.767087891|(41.79001075, -87...|
|10000014|   HY189846|2015-03-18 17:52:00|107XX S EGGLESTON...|1822|           NARCOTICS|MANU/DEL:CANNABIS...|           RESIDENCE|  true|   false|2233|     022|  34|            49|      18|     1175195|     1833597|2015|02/10/2018 03:50:...|41.698765744|-87.634136006|(41.698765744, -8...|
|10000015|   HY190002|2015-03-18 22:00:00|001XX S SPRINGFIE...|2027|           NARCOTICS|         POSS: CRACK|            SIDEWALK|  true|   false|1122|     011|  28|            26|      18|     1150408|     1899283|2015|02/10/2018 03:50:...|41.879534592|-87.723188209|(41.879534592, -8...|
|10000016|   HY189659|2015-03-17 18:00:00|071XX N GLENWOOD AVE|0810|               THEFT|           OVER $500|              STREET| false|   false|2423|     024|  49|             1|      06|     1165637|     1947622|2015|08/17/2015 03:03:...|42.011868433|-87.665887514|(42.011868433, -8...|
|10000017|   HY189934|2015-03-13 21:00:00|   068XX S PERRY AVE|0820|               THEFT|      $500 AND UNDER|           APARTMENT|  true|   false|0722|     007|   6|            69|      06|     1176576|     1859716|2015|02/10/2018 03:50:...|41.770408737|-87.628296046|(41.770408737, -8...|
|10000018|   HY189982|2015-03-18 21:20:00|     018XX E 75TH ST|2028|           NARCOTICS|POSS: SYNTHETIC D...|              STREET|  true|   false|0324|     003|   8|            43|      18|     1189940|     1855613|2015|02/10/2018 03:50:...|  41.7588387|-87.579441467|(41.7588387, -87....|
|10000105|   HY189984|2015-03-18 21:30:00|130XX S DR MARTIN...|1320|     CRIMINAL DAMAGE|          TO VEHICLE|PARKING LOT/GARAG...| false|   false|0533|     005|   9|            54|      14|     1180907|     1818839|2015|02/10/2018 03:50:...|41.658138493|-87.613672862|(41.658138493, -8...|
|10000108|   HY189719|2015-03-15 16:10:00|078XX S VINCENNES...|2825|       OTHER OFFENSE|HARASSMENT BY TEL...|CTA GARAGE / OTHE...| false|    true|0623|     006|  17|            69|      26|     1175130|     1853144|2015|02/10/2018 03:50:...|41.752406801|-87.633792381|(41.752406801, -8...|
|10000109|   HY189966|2015-03-18 21:14:00|086XX S EXCHANGE AVE|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|DRIVEWAY - RESIDE...|  true|   false|0423|     004|  10|            46|      15|     1197309|     1848290|2015|02/10/2018 03:50:...|41.738563465|-87.552678593|(41.738563465, -8...|
|10000110|   HY190056|2015-03-18 22:50:00| 014XX S ASHLAND AVE|0460|             BATTERY|              SIMPLE|            SIDEWALK| false|   false|1233|     012|   2|            28|     08B|     1165950|     1893388|2015|02/10/2018 03:50:...| 41.86304084|-87.666288555|(41.86304084, -87...|
|10000111|   HY190019|2015-03-18 22:31:00| 051XX W CHICAGO AVE|0860|               THEFT|        RETAIL THEFT|         GAS STATION|  true|   false|1531|     015|  37|            25|      06|     1141741|     1904839|2015|02/10/2018 03:50:...|41.894945606|-87.754874977|(41.894945606, -8...|
|10000112|   HY189725|2015-03-18 12:55:00|077XX S KINGSTON AVE|0610|            BURGLARY|      FORCIBLE ENTRY|           APARTMENT| false|   false|0421|     004|   7|            43|      05|     1194535|     1854110|2015|02/10/2018 03:50:...|41.754602618|-87.562650741|(41.754602618, -8...|
|10000113|   HY190077|2015-03-19 00:05:00|     010XX W 59TH ST|0497|             BATTERY|AGGRAVATED DOMEST...|            SIDEWALK| false|    true|0712|     007|  16|            68|     04B|     1170507|     1865694|2015|08/17/2015 03:03:...|41.786947449|-87.650368475|(41.786947449, -8...|
|10000114|   HY190071|2015-03-18 20:00:00|   024XX W NORTH AVE|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|               OTHER| false|   false|1423|     014|   1|            24|      07|     1159959|     1910569|2015|02/10/2018 03:50:...|41.910312648|-87.687806494|(41.910312648, -8...|
|10000115|   HY190036|2015-03-18 21:00:00| 069XX S LOOMIS BLVD|0890|               THEFT|       FROM BUILDING|  GROCERY FOOD STORE| false|   false|0734|     007|  17|            67|      06|     1168192|     1858832|2015|02/10/2018 03:50:...|41.768167414|-87.659053795|(41.768167414, -8...|
|10000116|   HY190063|2015-03-18 22:56:00|105XX S LAFAYETTE...|0470|PUBLIC PEACE VIOL...|    RECKLESS CONDUCT|               ALLEY|  true|   false|0512|     005|  34|            49|      24|     1177790|     1835106|2015|02/10/2018 03:50:...| 41.70284845|-87.624588931|(41.70284845, -87...|
|10000117|   HY190068|2015-03-18 22:45:00| 087XX S KIMBARK AVE|0890|               THEFT|       FROM BUILDING|       BAR OR TAVERN| false|   false|0412|     004|   8|            48|      06|     1186312|     1847473|2015|02/10/2018 03:50:...|41.736588206| -87.59299436|(41.736588206, -8...|
|10000118|   HY190031|2015-03-18 22:00:00|075XX S STONY ISL...|0860|               THEFT|        RETAIL THEFT|  GROCERY FOOD STORE|  true|   false|0411|     004|   5|            43|      06|     1188123|     1855151|2015|02/10/2018 03:50:...|41.757614433|-87.586115266|(41.757614433, -8...|
|10000119|   HY190072|2015-03-18 23:55:00| 054XX N KENMORE AVE|0320|             ROBBERY|STRONGARM - NO WE...|               OTHER| false|   false|2023|     020|  48|            77|      03|     1168270|     1936260|2015|02/10/2018 03:50:...|41.980634157|-87.656529996|(41.980634157, -8...|
+--------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [54]:
spark.sql("SELECT `Location Description` FROM regcrim ").show()

+--------------------+
|Location Description|
+--------------------+
|           RESIDENCE|
|             CTA BUS|
|           RESIDENCE|
|            SIDEWALK|
|           APARTMENT|
|           RESIDENCE|
|    RESIDENCE-GARAGE|
|  GROCERY FOOD STORE|
|              STREET|
|                null|
|PARKING LOT/GARAG...|
|  SMALL RETAIL STORE|
|           APARTMENT|
|              STREET|
|              STREET|
|           APARTMENT|
|              STREET|
|               OTHER|
|           RESIDENCE|
|              STREET|
+--------------------+
only showing top 20 rows

In [56]:
spark.sql("SELECT `Primary Type`,count(`Primary Type`) FROM regcrim GROUP BY `Primary Type`").show()

+--------------------+-------------------+
|        Primary Type|count(Primary Type)|
+--------------------+-------------------+
|OFFENSE INVOLVING...|               6037|
|CRIMINAL SEXUAL A...|                 42|
|            STALKING|                460|
|PUBLIC PEACE VIOL...|               4503|
|           OBSCENITY|                173|
|NON-CRIMINAL (SUB...|                  4|
|                null|                  0|
|               ARSON|               1221|
|            GAMBLING|                541|
|   CRIMINAL TRESPASS|              17723|
|             ASSAULT|              49239|
|      NON - CRIMINAL|                 13|
|LIQUOR LAW VIOLATION|                615|
| MOTOR VEHICLE THEFT|              29396|
|               THEFT|             162737|
|             BATTERY|             131246|
|             ROBBERY|              30365|
|            HOMICIDE|                126|
|    PUBLIC INDECENCY|                 27|
| CRIM SEXUAL ASSAULT|               3953|
+--------------------+-------------------+
only showing top 20 rows

In [58]:
#ORDER BY Country DESC
spark.sql("SELECT `Primary Type`,count(`Primary Type`) FROM regcrim GROUP BY `Primary Type` ORDER BY count(`Primary Type`) DESC ").show(3)

+---------------+-------------------+
|   Primary Type|count(Primary Type)|
+---------------+-------------------+
|          THEFT|             162737|
|        BATTERY|             131246|
|CRIMINAL DAMAGE|              79989|
+---------------+-------------------+
only showing top 3 rows

In [ ]:
### WHAT PERCENT OF REPORTED FUNCTIONS RESULTED IN AN ARREST

TOTAL TRUE ARREST CASES / TOTAL NUMBER OF ROWS * 100

spark.sql("SELECT `Primary Type`,count(`Primary Type`) FROM regcrim GROUP BY `Primary Type`").show()

In [63]:
spark.sql("SELECT count(`Arrest`) FROM regcrim ").show()

+-------------+
|count(Arrest)|
+-------------+
|       707956|
+-------------+

In [67]:
spark.sql("SELECT count(`Arrest`) FROM regcrim WHERE Arrest= true ").show()

+-------------+
|count(Arrest)|
+-------------+
|       147453|
+-------------+

In [62]:
spark.sql("SELECT count(`Arrest`) FROM regcrim WHERE Arrest= false ").show()

+-------------+
|count(Arrest)|
+-------------+
|       560503|
+-------------+